<template>
  <v-row>
    <v-col class="text-center">
     
      <blockquote class="blockquote">
        &#8220;Map Basic&#8221;
       
      </blockquote>
      <GMap
      ref="gMap"
      language="en"
      :center="{lat: 13.7475370, lng: 100.5020844}"
      :options="{fullscreenControl: false, styles: mapStyle}"
      :zoom="12"
    >
      <GMapMarker      
        :position="{lat: 13.7375370, lng: 100.5020844}"      
      > 
      </GMapMarker>
      
    </GMap>

     <footer>
          <small>
            <em>Develop by &mdash;Naruemon Roengram</em>
          </small>
        </footer>
    </v-col>
    
  </v-row>
  
</template>

<script>
export default {
  name: 'InspirePage',
  data() {
  return {
    currentLocation: {},
    circleOptions: {

    },
    
    pins: {
      selected: "	https://maps.gstatic.com/mapfiles/transparent.png",
      notSelected: "https://maps.gstatic.com/mapfiles/transparent.png"
    },
    mapStyle: [],
   
  }
}

}
</script>
