<template>
  <v-row>
    <v-col class="text-center">
     
      <blockquote class="blockquote">
        &#8220;Map with markers&#8221;
       
      </blockquote>
      <GMap
      ref="gMap"
      language="en"
     
      :center="{lat: locations[0].lat, lng: locations[0].lng}"
      :options="{fullscreenControl: false, styles: mapStyle}"
      :zoom="10"
    >
      <GMapMarker
        v-for="location in locations"
        :key="location.id"
        :position="{lat: location.lat, lng: location.lng}"
       
        @click="currentLocation = location"
      >
        <!-- <GMapInfoWindow :options="{maxWidth: 200}">
           <b>{{ location.name }}</b>
          <br />
          <br />
          <code>
            lat: {{ location.lat }},
            lng: {{ location.lng }}
          </code>
        </GMapInfoWindow> -->
      </GMapMarker>
      
      <GMapCircle :options="circleOptions"/>
    </GMap>

     <footer>
          <small>
            <em>Develop by &mdash;Naruemon Roengram</em>
          </small>
        </footer>
    </v-col>
    
  </v-row>
  
</template>

<script>
export default {
  name: 'InspirePage',
  data() {
  return {
    currentLocation: {},
    circleOptions: {

    },
    locations: [
      {
        id:1,
        lat: 13.6475352,
        lng: 100.5022854,
        name: 'AAA'
      },
      {
        id:2,
        lat: 13.7475370,
        lng: 100.5020844,
        name: 'BBB'
      },
      {
        id:3,
         lat: 13.7485354,
        lng: 100.5820826,
        name: 'CCC'
      }
    ],
    pins: {
      selected: "	https://maps.gstatic.com/mapfiles/transparent.png",
      notSelected: "https://maps.gstatic.com/mapfiles/transparent.png"
    },
    mapStyle: [],
    clusterStyle: [
      {
        url: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png",
        width: 56,
        height: 56,
        textColor: "#fff"
      }
    ]
  }
 
},
 mounted(){
    console.log(this.$refs.gMap);
  }


}
</script>
